[Unit]
Description=Don't forget to water your plants!
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/cass/plants/plants.py
User=cass

[Install]
WantedBy=multi-user.target
